<!DOCTYPE html>
<section class="resume-education">
    <h2>Bachelor of Arts: Anthropology</h2>
    <h3>University of North Texas</h3>
    <p><i>Graduated in May 2010</i></p>
    <p><i>Summa Cum Laude with 4.0 GPA</i></p>
</section>

<section class="resume-education">
    <h2>HTML, CSS, and JS for Web Developers</h2>
    <h3>John Hopkins University (Coursera)</h3>
    <p><i>October 2022</i></p>
    <p><i><a id="resume-coursera-cert-pdf">Download PDF</a></i></p>
</section>

<section class="resume-education">
    <h2>Licensed Paramedic: EMT-P</h2>
    <p><i>2012 - Present</i></p>
</section>