<!DOCTYPE html>
<h2>Martial Path</h2>

<h3>Online Kung Fu Curriculum</h3>
<p></p>
<p><a href="http://martial.convolucid.com" target="_blank">martial.convolucid.com</a></p>
<ul>
    <li>Digitized elements of card-based martial arts curriculum and coded them into a web app.  Used HTML, CSS, and JS for responsive, mobile-first UI.</li>
    <li>Created additional SVG icons in Adobe Illustrator and animated them with GSAP library and CSS transitions.</li>
</ul>

<h2>The Oneironomicon</h2>
<h3>Three.js Poetry Showcase</h3>
<p><a href="http://poetics.convolucid.com" target="_blank">poetics.convolucid.com</a></p>
<ul>
    <li>Designed several web experiences based on poems using Three.js library and GLSL.  3D letters and models created in Blender.</li>
    <li>Animated scroll-based transitions of objects and shaders with GSAP.</li>
    <li>HTML Canvas used to animate text backgrounds.</li>
</ul>
