<!DOCTYPE html>
<a href="require('../../../../../assets/2022.09_Resume.pdf')" download="2022.09_Resume.pdf">Download PDF</a>
<h1 class="page-heading">Stephen Roberts</h1>
<h2>Front End Developer</h2>
<p>Designer with 2 years of experience building websites with HTML, CSS, and Javascript.  Passionate about creating artistic and responsive interfaces.  Highly commited to expanding industry knowledge and methods, and comfortable as both a teacher and student.  Currently focused on mastering Javascript and exploring 3D web implementations with Three.js, GLSL shaders, and Blender.</p>