<!DOCTYPE html>
<h2>Work Experience</h2>

<h3>Designer & Instructor</h3>
<p>Iron Phoenix Martial Arts</p>
<p><i>12/2016 - 12/2019</i></p>
<p>ironphoenix.com</p>
<ul>
    <li>Designed and coded business website to owner's specifications.  Initial site created using ModX framework, a CMS similar to Wordpress.</li>
    <li>Graphic design and copy writing of marketing materials such as class posters and signage using Adobe Photoshop, Illustrator, and Indesign.</li>
    <li>Developed unique card-based martial arts curriculum with art, iconography, text, and "gamified" systems such as currency, challenges, and achievements.</li>
    <li>Served as lead instructor for both adult and youth martial arts classes as well as specific topical courses.  Assisted with rank advancement events and seminars.</li>
    <li>Managed many aspects of client relationships including general customer service, payment, enrollment, metrics, and record-keeping.  Regular use of Google Drive, Sheets, and Docs.</li>
</ul>