.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    padding: 20px 20px;
    user-select: none;
    filter: grayscale();

}

.portfolio-img {
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    width: 400px;
    height: 100%;

    transition: 0.5s;
}

.portfolio-item:hover,
.portfolio-item:focus {
    filter: none;
    background-color: var(--color-primary-contrast);
    box-shadow: 0 0 0 3px var(--color-secondary);
    transition: 0.5s;
}

.portfolio-item section {
    text-align: center;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

.portfolio-item section > h2 {
    font-family: var(--sansSerif);
    padding-top: 10px;
}

.portfolio-item section > p {
    text-align: left;
    padding-top: 10px;
}

/* Add image filters on hover for grayscale and potentially hooks to change Three.js values depending on what's hovered */

@media (min-width: 768px) {
    .portfolio-item {
        flex-wrap: nowrap;
    }

    .portfolio-item section {
        max-width: 768px;
        margin-left: 20px;
        text-align: left;
    }
}
