.panel-expand {
    /* animation-name: panel-expand;
    animation-duration: 1s; */
    max-height: 700px;
    transition: 1s;
}


.collapsible-panel h1 {
    /* margin: 0 auto; */
    /* border: 1px solid var(--color-primary); */
    margin: 30px 20px 0px;
    /* padding: 10px 0px; */
    text-align: center;
    font-family: var(--serif);
}

.panel-collapse {
    max-height: 0;
    overflow: hidden;
}

/* @keyframes panel-expand {
    0% {

        max-height: 0;
    }
    100% {

        max-height: 100%;
    }
} */