@keyframes expand-animation {
    0% {
        opacity: 0;
        max-height: 0vh;
    }
    99% {
        opacity: 1;
        max-height: 100vh;
    }
    100% {
        opacity: 1;
        max-height: auto;
    }
}

@keyframes collapse-animation {
    0% {
        opacity: 1;
        max-height: 100vh;
    }
    99% {
        opacity: 1;
        max-height: 0vh;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

.collapsible-panel {
    justify-items: center;
    overflow: hidden;
    background-color: var(--color-primary-contrast-alpha);
}

.collapsible-panel header {
    background-color: var(--color-secondary);
}


.collapsible-panel h1 {
    margin: 0px auto;
    padding: 10px 20px;
    text-align: center;
    font-family: var(--serif);
    max-width: 1200px;
}

.toggle-symbol {
    border: 2px var(--color-neutral) solid;
    border-radius: 5px;
    padding: 2px 8px;
    margin: 0px 10px 0 0;
    font-family: monospace;
}

.panel-expand {
    animation-name: expand-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.panel-collapse {
    animation-name: collapse-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@media (min-width: 768px) {
    .collapsible-panel h1 {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .collapsible-panel h1 {
        padding: 10px 4px;
    }
}
