@keyframes expand-animation {
    0% {
        opacity: 0;
        max-height: 0vh;
    }
    99% {
        opacity: 1;
        max-height: 100vh;
    }
    100% {
        opacity: 1;
        max-height: auto;
    }
}

@keyframes collapse-animation {
    0% {
        opacity: 1;
        max-height: 100vh;
    }
    99% {
        opacity: 1;
        max-height: 0vh;
    }
    100% {
        opacity: 0;
        max-height: 0;
    }
}

.collapsible-panel {
    justify-items: center;
    overflow: hidden;
}

header {
    background-color: var(--color-secondary);
    justify-items: center;
}

.collapsible-panel h1 {
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    font-family: var(--serif);
    max-width: 1200px;
}

.panel-expand {
    animation-name: expand-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.panel-collapse {
    animation-name: collapse-animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@media (min-width: 768px) {
    .collapsible-panel h1 {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .collapsible-panel h1 {
        padding: 10px 10px;
    }
}
