.nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo {
    height: 2.5rem;
}

.nav-title {
    flex: 2 0 auto;
    padding-left: 5px;
    font-family: var(--sansSerif);
    cursor: pointer;
}

.nav-list {
    display: flex;
    margin: 0;
}

.nav-list li {
    cursor: pointer;
    font-family: var(--sansSerif);
}

.nav-list li:hover,
.nav-list li:focus {
    color: var(color-secondary);
    box-shadow: 0px 0px 10px var(--color-primary),
        0px 0px 10px var(--color-accent-contrast);
    transition: 0.5s;
}

.nav-list-focus {
    color: var(color-secondary);
    box-shadow: 0px 0px 10px var(--color-primary),
        0px 0px 10px var(--color-accent-contrast);
}

.nav-list-collapse {
    display: none;
}

/* Nav-list-overlay is mobile-first, where the menu expands to fill the screen.  Overflow-y hidden prevents scrolling */
@keyframes nav-list-flyout {
    0% {
        display: none;
        max-height: 0%;
    }
    1% {
        display: block;
        max-height: 0%;
    }
    100% {
        display: block;
        max-height: 100%;
    }
}

.nav-list-overlay {
    position: fixed;
    display: block;
    z-index: var(--z-overlay);
    top: 0;
    right: 0;
    overflow-y: hidden;
    width: 50%;

    animation-name: nav-list-flyout;
    animation-duration: 1s;

    margin: 0;
    padding: 0;

    border-style: none none ridge ridge;
    border-color: var(--color-secondary);

    /* Two background colors provides a fallback if the alpha isn't recognized */
    background-color: var(--color-neutral-contrast);
    background-color: var(--color-overlay-alpha);
    color: var(--color-primary-contrast);
    text-align: center;
}

.nav-list-overlay li {
    padding: 10px 0px;
    margin: 10px 20px;
    font-size: 1.25rem;
}

/* This sets the first list item lower on the screen for a mobile overlay */
.nav-list-overlay li:nth-child(1) {
    margin-top: 10vh;
}

.nav-list-expand li {
    padding: 0 1vw;
    margin-left: 10px;

    text-transform: uppercase;

    font-size: 0.9rem;
}

.nav-list-button {
    position: relative;
    z-index: var(--z-top);
    padding: 0;
    border: 0;
    background: none;
}

.nav-list-button svg {
    height: 2.25rem;
}

.nav-link-highlight {
    background-color: var(--color-neutral);
    color: var(--color-neutral-contrast);
    border-radius: 4px;
}

#link-hire a {
    text-decoration: none;
    color: var(--color-neutral);
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

@media (min-width: 768px) {
    .nav-list-button {
        display: none;
    }

    #link-hire {
        background-color: var(--color-neutral);

        border-radius: 4px;
    }

    #link-hire a {
        color: var(--color-neutral-contrast);
    }
}

@media (min-width: 2200px) {
    .nav {
        max-width: 1600px;
    }
}
